<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Me</h1>
            </div>
            <div class="content">
                <h3> </h3>
                <p>Hi there!!! it's Aditya Suman from SRM IST, pursuing Btech in Cloud Computing.From my childhood i had a love and passing
                    toward computers. After my undergraduation(12th standard) i got an amazing opportunity in SRM to get into Computer Science. 
                </p>
                <div class="button">
                    <a href="">Home Page</a>
                </div>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/aditya.suman.39589"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/Adityasuman990?t=LEcLBU7Ekpd5oQcp6_AeSw&s=09"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/aditya_.suman?r=nametag"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="../../assets/img/adi dp.png">
        </div>
    </div>
</div>
