<div class="container">

    <h1 class="heading">My Languages</h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/img/icon-1.png" alt="" >
            <h3>HTML 5</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p> -->
            <a href="https://en.wikipedia.org/wiki/HTML" class="btn" target="_blank">read more</a>
        </div>

        <div class="box">
            <img src="../../assets/img/icon-2.png" alt="" >
            <h3>CSS 3</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p> -->
            <a href="https://en.wikipedia.org/wiki/CSS" class="btn" target="_blank">read more</a>
        </div>

        <div class="box">
            <img src="../../assets/img/icon-3.png" alt="" >
            <h3>JavaScript</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p> -->
            <a href="https://en.wikipedia.org/wiki/JavaScript" class="btn" target="_blank">read more</a>
        </div>

        <div class="box">
            <img src="../../assets/img/icon-4.png" alt="" >
            <h3>SASS</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p> -->
            <a href="https://en.wikipedia.org/wiki/SCSS" class="btn" target="_blank">read more</a>
        </div>

        <div class="box">
            <img src="../../assets/img/java1.png" alt="" >
            <h3>JAVA</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p> -->
            <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" class="btn" target="_blank">read more</a>
        </div>

        <div class="box">
            <img src="../../assets/img/c++.png" alt="">
            <h3>C++</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p> -->
            <a href="https://en.wikipedia.org/wiki/C%2B%2B" class="btn" target="_blank" >read more</a>
        </div>

    </div>

</div>